td {
    width: 15vw;
    height: 12vh;
    border: 1px solid black;
    font-size: large;
    text-align: center;
    vertical-align: middle;
}

#deck {
    overflow-x: scroll;
    white-space: nowrap;
}
#deck > div {
    border: 4px double black;
    margin: .5em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: .5em;
    text-align: center;
    display: inline-block;
    width: 15vw;
    height: 12vh;
    min-width: 0;
}
#deck > div > img, td > img {
    width: 32px;
    height: 32px;
}
#deck > div > * {
    pointer-events: none;
}
#deck > div > h3, #deck > div > h4 {
    margin: .1em;
    white-space: wrap;
    line-break: anywhere;
    font-size: 75%;
}